

.about {
  background-color: #e3e3db;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  padding: 2em;
}

.about p {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Akkurat Mono", monospace;
  font-size: 14px;
}

.footer {
  position: relative;
  width: 100vw;
  height: 75svh;
  background-color: #000000;
  color: #ffffff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-family: "FK Screamer", sans-serif;
  font-size: 12vw;
  font-weight: 500;
  line-height: 0.85;
  margin: 0;
}

.copyrightInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}